/* PAGE BACKGROUND */
.profile-page {
  min-height: 100vh;
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

/* CARD */
.profile-card {
  width: 420px;
  background: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/* AVATAR */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  border: 3px solid red;
}

/* INPUTS */
.profile-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
  background: #333;
  color: white;
}

/* BUTTONS */
.save-btn {
  width: 100%;
  padding: 12px;
  background: red;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover,
.edit-btn:hover {
  background: #e50914;
}
