.hero{
    position: relative;
}
.hero img{
    width: 100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1)60%,rgba(0,0,0,0.3)75%,rgba(0,0,0,0)100%);
    -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,1)60%,rgba(0,0,0,0.3)75%,rgba(0,0,0,0)100%);
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6px;
    bottom: 0px;
    color: white;
    margin-bottom: 40px;
    font-size: 19px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.caption-img{
    width: 90px;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btns .btn img{
    width: 25px;
}
.hero-btns .btn{
    border: 0;
    padding: 8px 20px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btns .dark-btn{
    background: rgba(109,109,110,0.7);
    color: white;
}
.hero-btns .btn:hover{
    background: #ffffffbf;
}
.hero-btns .btn.dark-btn:hover{
    background: rgba(109,109,110,0.9);
}
.more-cards{
    padding-left: 6%;
}