.search-page{
  background:#141414;
  min-height:100vh;
  padding-top:100px;
  color:white;
}

/* TOP BAR */
.search-top{
  display:flex;
  align-items:center;
  gap:15px;
  padding:0 40px;
}

/* SEARCH INPUT */
.search-top input{
  width:420px;
  padding:12px;
  background:white;
  border:none;
  outline:none;
  color:black;
  border-radius:4px;
}

/* BUTTON BOX STYLE */
.back-btn,
.cancel-btn{
  background:red;
  border:1px solid #444;
  padding:10px 18px;
  border-radius:6px;
  color:white;
  font-size:14px;
  cursor:pointer;
  transition:0.3s;
}

.back-btn:hover,
.cancel-btn:hover{
  background:red;
  border-color:red;
}

/* RESULTS GRID */
.search-results{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  gap:20px;
  padding:30px 40px;
}

.search-results img{
  width:100%;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.search-results img:hover{
  transform:scale(1.08);
}
