.player {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  cursor: pointer;
}

.player-buttons {
  position: absolute;
  bottom: 40px;
}

.player-buttons button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
