.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.title-cards h2{
    margin-bottom: 8px;
}
.cards-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.cards-list::-webkit-scrollbar{
    display: none; 
}
.cards-list .card{
    position: relative;
}

.cards-list .card img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.cards-list .card p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
    text-shadow: 0 0 6px rgba(0,0,0,0.8);
}


